{
    #
    # Crews are simply named lists of users:
    #
    #   "the_crew_name":  ["list", "of", "user", "names"],
    #
    # In addition to any site-defined crews, there are four "reserved"
    # crews names used for special purposes by Tractor:
    #   "ValidLogins",  "BannedLogins",  "Wranglers",  "Administrators"
    #
    # The ValidLogins crew enumerates all user's who are allowed to
    # login to Tractor.  This crew MUST exist.  See the note regarding
    # about the meta-names "@syslogins" and "@externlogins" below.
    #
    # The BannedLogins crew lists user names that are explicitly denied
    # login.  It is mostly only useful for providing exceptions when
    # ValidLogins contains either of the meta-names "@syslogins" or
    # "@externlogins".
    #
    #
    # Special Meta-Names: "@syslogins" and "@externlogins"
    #
    # The user name list for a given crew can include either of these
    # special names.  "@syslogins" stands for all user login names
    # that are valid locally on the engine host (i.e. resolvable by
    # the function getpwnam(3)), which frequently includes those
    # resolvable by the site nameservers, such as LDAP or NIS.
    # For example:
    #    "ValidLogins": ["@syslogins"],
    #
    # The name "@externlogins" causes the engine to skip its internal
    # validation of a potential Dashboard user names, and instead the
    # engine passes all login names directly to the site's external
    # trSiteLoginValidator.py script (or whichever validation app is
    # named as the "SitePasswordValidator" below). The external validator
    # can accept or deny a given name+password pair. For example:
    #    "ValidLogins": ["@externlogins"],
    #
    # Note that wildcard characters in user names (e.g. "*") are NOT
    # expanded or treated specially when searching for user access.
    # However, the list of user names can also contain OTHER CREW
    # names, which will be expanded recursively to include the users
    # in those crews.  Crew name references that form "reference loops"
    # will be truncated, but may cause unexpected memberships.
    #
    # Any user name in a crew's membership list whose first character
    # is a minus-sign will be removed from that crew definition,
    # similarly for sub-crew names.  For example:
    #  "ourRestrictedCrew": ["ourBigCrew", "-knownMiscreants"],
    #
    # Crews that are referenced in name lists can be denoted with
    # a leading "$" in order to make them clearly distinguished as
    # crew names rather than user names.  This approach also allows
    # tractor-engine to issue better diagnostic messages when a
    # referenced crew is unknown -- otherwise than name is just
    # treated as another user name.  For example:
    #   "theLuncheon": ["terry", "vandana", "$theGuysFromShipping"],
    #
    # A particular user name may appear in more than one crew.
    #

"Crews": {

"ValidLogins": [
"@syslogins",
"11909429",  # 11909429 huanxinchen1 2014
"11904671", # 11904671 xinjiang6 2014
"11757503", # 11757503 conorastack 2014
"12043838", # 12043838 hungpham1 2014
"12007629", # 12007629 giselenour 2014
"11900065", # 11900065 yangleiwu1 2014
"12023711", # 12023711 timothydbywater 2014
"11693660", # 11693660 elladsanderson 2014
"12028837", # 12028837 woojinjennyjlee 2014
"12014561", # 12014561 joshkeam  2014
"12071775", # 12071775 bellettruong 2014
"12071472", # 12071472 valeriaversace1 2014
"11965062", # 11965062_yuanzhenliu 2014
"12033039", # 12033039 aliciajaneef 2014
"11709235", # 0 11709235 thomasclaxton 2013
"11715481", # 1 11715481 laurawingrove 2013
"11693468", # 2 11693468 alyshachua 2013
"12044374", # 3 12044374 lucyrwu 2014
"11367190", # 4 11367190 azrikhamaruzaman 2012
"120988",   # 5 120988 matthewgidney staff
"12023141", # 6 12023141 ninakimurabudzyniak 2014
"11993502", # 7 11993502 jessicazhuang 2014
"11558549", # 8 11558549 zhanyehuang1 2013
"11437973", # 9 11437973 dylanspalding 2012
"11391606", # 10 11391606 jeremyhcarlen 2012
"11706773", # 11 11706773 richardchhoa 2013
"11701632", # 12 11701632 moniquebryson 2013
"11427402", # 13 11427402 gracemlim 2012
"118523",   # 14 118523 simonh staff
"12011654", # 15 12011654 susannawang 2014
"11399108", # 16 11399108 harrisongfleming 2012
"12031086", # 17 12031086 chinyerecakole 2014
"11393725", # 18 11393725 alexanderjeremy 2012
"124473",   # 19 124473 ivanlarosa staff
"11741966", # 20 11741966 yinxia 2013
"11371883", # 21 11371883 haemlee 2012
"11996749", # 22 11996749 dianaluu 2014
"11691007", # 23 11691007 martinguilfoyle 2013
"11686324", # 24 11686324 jakebsimpson 2013
"11432477", # 25 11432477 bethaniemmontano 2012
"11397130", # 26 11397130 michaeljmascarenas 2012
"11739137", # 27 11739137 stephaniejlam 2013
"11428087", # 28 11428087 johnpattard 2012
"11412222", # 29 11412222 joelbest 2012
"11982903", # 30 11982903 chloespizarro 2014
"11416385", # 31 11416385 shawnvincent 2012
"12071522", # 32 12071522 anthonycharbelsukkar1 2014
"11900089", # 33 11900089 yenchiaochiu 2014
"12028534", # 34 12028534 abbasismail 2014
"11999176", # 35 11999176 isabellafspagnolo 2014
"11848557", # 36 11848557 georgette 2014
"12071318", # 37 12071318 maryanngayed1 2014
"12043701", # 38 12043701 michellelam 2014
"12014318", # 39 12014318 himadrisbhakta 2014
"11668365", # 40 11668365 helinzheng1 2013
"11736877", # 41 11736877 benthomas 2013
"11411814", # 42 11411814 bonnietforsyth 2012
"11396684", # 43 11396684 steffiesyee 2012
"12010942", # 44 12010942 deborahaalbers 2014
"12016263", # 45 12016263 chicorequieron 2014
"11413251", # 46 11413251 jessicagoddard 2012
"11995444", # 47 11995444 ianlade 2014
"11989492", # 48 11989492 jacktea 2014
"11696186", # 49 11696186 cosmopark 2013
"11541721", # 50 11541721 maziarhosseini1 2013
"117424",   # 51 117424 andrewsilke staff
"11985835", # 52 11985835 isabelleleggat 2014
"12023356", # 53 12023356 annehuynh 2014
"11708892", # 54 11708892 lucyausien 2013
"12023103", # 55 12023103 christophergong 2014
"11710934", # 56 11710934 soheeapark 2013
"12000079", # 57 12000079 madisonsalier 2014
"12025247", # 58 12025247 adriennegbolina 2014
"12043891", # 59 12043891 craiglcampbell 2014
"11699687", # 60 11699687 alexanderanthony 2013
"11408414", # 61 11408414 sophialee1 2012
"11731763", # 62 11731763 bikramnakarmi 2013
"11724756", # 63 11724756 victoriadinh 2013
"11405115", # 64 11405115 juliely 2012
"11420306", # 65 11420306 alexandreekaronis 2012
"11442466", # 66 11442466 jakeduczynski 2012
"11589355", # 67 11589355 nimasotoudeh 2013
"11982333", # 68 11982333 jamesnevell 2014
"11712700", # 69 11712700 hogeollee 2013
"12003620", # 70 12003620 karenpan 2014
"11423567", # 71 11423567 unknown 2012
"11689217", # 72 11689217 jasminrasiah 2013
"11723210", # 73 11723210 jonathansdelbridge 2013
"11423290", # 74 11423290 joelmrobinson 2012
"11724135", # 75 11724135 wenyuzhu 2013
"11726054", # 76 11726054 thomasyanco 2013
"11031046", # 77 11031046 chantellelalbion 2012
"11688621", # 78 11688621 stephanieadavidson 2013
"11758113", # 79 11758113 yeongyeongcha 2013
"12044210", # 80 12044210 catherineyates 2014
"11723069", # 81 11723069 nicholassefton 2013
"11984679", # 82 11984679 fabianmorison 2014
"11730153", # 83 11730153 zacharywhorder 2013
"12044309", # 84 12044309 andrewzwilson 2014
"11559820", # 85 11559820 yangsushan1 2013
"11695285", # 86 11695285 athichaboobphakam 2013
"11691906", # 87 11691906 darrylraltan 2013
"11731926", # 88 11731926 olivertabbott 2013
"12026516", # 89 12026516 jessicaaraullo 2014
"11980543", # 90 11980543 ryleyjmiller 2014
"11988348", # 91 11988348 nathankhamdara 2014
"12043360", # 92 12043360 seandwyer 2014
"11699865", # 93 11699865 albertjeung 2013
"11215961", # 94 11215961 leonieherson 2013
"11998301", # 95 11998301 nicholaslciantar 2014
"12034512", # 96 12034512__emilykcheung 2014
],

"BannedLogins": [],

"Wranglers": [	 

"11909429",  # 11909429 huanxinchen1 2014
"11757503", # 11757503 conorastack 2014
"11904671", # 11904671 xinjiang6 2014
"12007629", # 12007629_giselenour 2014
"11900065", # 11900065 yangleiwu1 2014
"12023711", # 12023711 timothydbywater 2014
"11693660", # 11693660 elladsanderson 2014
"12028837", # 12028837 woojinjennyjlee 2014
"12071775", # 12071775 bellettruong 2014
"12014561", # 12014561 joshkeam  2014
"12071472", # 12071472 valeriaversace1 2014
"11965062", # 11965062_yuanzhenliu 2014
"12043838", # 12043838 hungpham1 2014
"12033039", # 12033039 aliciajaneef 2014
"11709235", # 0 11709235 thomasclaxton 2013
"11715481", # 1 11715481 laurawingrove 2013
"11693468", # 2 11693468 alyshachua 2013
"12044374", # 3 12044374 lucyrwu 2014
"11367190", # 4 11367190 azrikhamaruzaman 2012
"120988",   # 5 120988 matthewgidney staff
"12023141", # 6 12023141 ninakimurabudzyniak 2014
"11993502", # 7 11993502 jessicazhuang 2014
"11558549", # 8 11558549 zhanyehuang1 2013
"11437973", # 9 11437973 dylanspalding 2012
"11391606", # 10 11391606 jeremyhcarlen 2012
"11706773", # 11 11706773 richardchhoa 2013
"11701632", # 12 11701632 moniquebryson 2013
"11427402", # 13 11427402 gracemlim 2012
"118523",   # 14 118523 simonh staff
"12011654", # 15 12011654 susannawang 2014
"11399108", # 16 11399108 harrisongfleming 2012
"12031086", # 17 12031086 chinyerecakole 2014
"11393725", # 18 11393725 alexanderjeremy 2012
"124473",   # 19 124473 ivanlarosa staff
"11741966", # 20 11741966 yinxia 2013
"11371883", # 21 11371883 haemlee 2012
"11996749", # 22 11996749 dianaluu 2014
"11691007", # 23 11691007 martinguilfoyle 2013
"11686324", # 24 11686324 jakebsimpson 2013
"11432477", # 25 11432477 bethaniemmontano 2012
"11397130", # 26 11397130 michaeljmascarenas 2012
"11739137", # 27 11739137 stephaniejlam 2013
"11428087", # 28 11428087 johnpattard 2012
"11412222", # 29 11412222 joelbest 2012
"11982903", # 30 11982903 chloespizarro 2014
"11416385", # 31 11416385 shawnvincent 2012
"12071522", # 32 12071522 anthonycharbelsukkar1 2014
"11900089", # 33 11900089 yenchiaochiu 2014
"12028534", # 34 12028534 abbasismail 2014
"11999176", # 35 11999176 isabellafspagnolo 2014
"11848557", # 36 11848557 georgette 2014
"12071318", # 37 12071318 maryanngayed1 2014
"12043701", # 38 12043701 michellelam 2014
"12014318", # 39 12014318 himadrisbhakta 2014
"11668365", # 40 11668365 helinzheng1 2013
"11736877", # 41 11736877 benthomas 2013
"11411814", # 42 11411814 bonnietforsyth 2012
"11396684", # 43 11396684 steffiesyee 2012
"12010942", # 44 12010942 deborahaalbers 2014
"12016263", # 45 12016263 chicorequieron 2014
"11413251", # 46 11413251 jessicagoddard 2012
"11995444", # 47 11995444 ianlade 2014
"11989492", # 48 11989492 jacktea 2014
"11696186", # 49 11696186 cosmopark 2013
"11541721", # 50 11541721 maziarhosseini1 2013
"117424",   # 51 117424 andrewsilke staff
"11985835", # 52 11985835 isabelleleggat 2014
"12023356", # 53 12023356 annehuynh 2014
"11708892", # 54 11708892 lucyausien 2013
"12023103", # 55 12023103 christophergong 2014
"11710934", # 56 11710934 soheeapark 2013
"12000079", # 57 12000079 madisonsalier 2014
"12025247", # 58 12025247 adriennegbolina 2014
"12043891", # 59 12043891 craiglcampbell 2014
"11699687", # 60 11699687 alexanderanthony 2013
"11408414", # 61 11408414 sophialee1 2012
"11731763", # 62 11731763 bikramnakarmi 2013
"11724756", # 63 11724756 victoriadinh 2013
"11405115", # 64 11405115 juliely 2012
"11420306", # 65 11420306 alexandreekaronis 2012
"11442466", # 66 11442466 jakeduczynski 2012
"11589355", # 67 11589355 nimasotoudeh 2013
"11982333", # 68 11982333 jamesnevell 2014
"11712700", # 69 11712700 hogeollee 2013
"12003620", # 70 12003620 karenpan 2014
"11423567", # 71 11423567 unknown 2012
"11689217", # 72 11689217 jasminrasiah 2013
"11723210", # 73 11723210 jonathansdelbridge 2013
"11423290", # 74 11423290 joelmrobinson 2012
"11724135", # 75 11724135 wenyuzhu 2013
"11726054", # 76 11726054 thomasyanco 2013
"11031046", # 77 11031046 chantellelalbion 2012
"11688621", # 78 11688621 stephanieadavidson 2013
"11758113", # 79 11758113 yeongyeongcha 2013
"12044210", # 80 12044210 catherineyates 2014
"11723069", # 81 11723069 nicholassefton 2013
"11984679", # 82 11984679 fabianmorison 2014
"11730153", # 83 11730153 zacharywhorder 2013
"12044309", # 84 12044309 andrewzwilson 2014
"11559820", # 85 11559820 yangsushan1 2013
"11695285", # 86 11695285 athichaboobphakam 2013
"11691906", # 87 11691906 darrylraltan 2013
"11731926", # 88 11731926 olivertabbott 2013
"12026516", # 89 12026516 jessicaaraullo 2014
"11980543", # 90 11980543 ryleyjmiller 2014
"11988348", # 91 11988348 nathankhamdara 2014
"12043360", # 92 12043360 seandwyer 2014
"11699865", # 93 11699865 albertjeung 2013
"11215961", # 94 11215961 leonieherson 2013
"11998301", # 95 11998301 nicholaslciantar 2014
"12034512", # 96 12034512__emilykcheung 2014
],
        "Administrators": [
"mattg0325",
"118523",	#simonh
"11412222",#joelbest
"120988"]
    },

    #
    # --------------------
    # Job Edit Permissions
    # --------------------
    # By default, everyone with a valid login is given "standard"
    # permissions, meaning the basic ability to run and modify their
    # own jobs and to view the state of the queue and the blades.
    # Users listed in the "Wranglers" crew are also allowed to alter
    # the general job queue, including the state of other user's jobs.
    # Users listed in the "Administrators" crew are allowed to change
    # site-wide policies through the URL interface.  The permission
    # levels are cumulative:  Wranglers have "standard" access plus the
    # additional wrangler permissions.  Administrators have standard,
    # wrangler, and admin access.
    #
    # The optional subdictionary "JobEditAccessPolicies" can be used
    # to further restrict or extend edit access to job attributes, such
    # as job priority.  A different access list can be specified for each
    # editable attribute, otherwise the settings for the entry named
    # "default" will apply. The special meta-crew name "@owner" in these
    # edit lists grants each job owner the permission edit the given
    # attribute in their own jobs.
    #
    # Edit permissions are organized into named "policies" with the one
    # named "defaultPolicy" applied by default.  Job scripts can specify
    # the policy that applies to them using the "Job -editpolicy {NAME}"
    # option.  Typically this is used by a studio's job creation pipeline
    # to apply additional restrictions on jobs from particular shows or
    # administrative jobs.  In cases where the job's specifically requested
    # policy is missing here, then the engine applies the settings from the
    # "defaultPolicy" entry, if it exists, rather than denying all edits
    # until the missing policy becomes defined.  Users in the Administrators
    # crew will always have edit control over any job.
    #
    # Recogonized fine-grained edit permission keywords include:
    #   delete, retry, skip, jrestart, priority, pause, interrupt,
    #   retract, tags, envkey, crews, title, service, cwd, argv,
    #   metadata, comment, afterJids, afterTime
    #

    "JobEditAccessPolicies": {
        # Note:  don't forget commas after each entry!

        "defaultPolicy": {
            "priority": ["Administrators"],
            "projects": ["Administrators"],
            "crews":    ["Administrators"],
            "tags":     ["Administrators"],
            "tier":     ["Administrators"],
            "retract":  ["Wranglers", "Administrators"],
            "delete":   ["Administrators"],
            "metadata": ["Administrators"],
            "skip":     ["Wranglers", "Administrators"],
            "jrestart": ["Wranglers", "Administrators"],
            "pause":    ["Wranglers", "Administrators"],
            "interrupt":["Wranglers", "Administrators"],
            "envkey":   ["Wranglers", "Administrators"],
            "service":  ["Wranglers", "Administrators"],
            "cwd":      ["Wranglers", "Administrators"],
            "argv":     ["Wranglers", "Administrators"],
            "retry":    ["Wranglers", "Administrators"],
            "interrupt":["Wranglers", "Administrators"],
            "pause":    ["Wranglers", "Administrators"],
            "afterJids":["Wranglers", "Administrators"],
            "afterTime":["Wranglers", "Administrators"],
            "title":    ["Administrators"],
            "default":  ["@owner", "Wranglers", "Administrators"]
        },

        "UTSPolicy": {
            "priority": ["Wranglers", "Administrators"],
            "tier":     ["Wranglers", "Administrators"],
            "delete":   ["Wranglers", "Administrators"],
            "metadata": ["Wranglers", "Administrators"],
            "skip":     ["Wranglers", "Administrators"],
            "jrestart": ["Wranglers", "Administrators"],
            "pause":    ["Wranglers", "Administrators"],
            "interrupt":["Wranglers", "Administrators"],
            "title":    ["Wranglers", "Administrators"],
            "default":  ["Administrators"]
        }
    },

    #
    # ---------------------
    # SitePasswordValidator
    # ---------------------
    # "SitePasswordValidator" specifies a validation scheme for passwords
    # sent to the engine from user interfaces and scripts.  Use an empty
    # string "" to disable password checking, allowing any valid login
    # name to proceed as a client.
    #
    # Any non-empty value for "SitePasswordValidator" will cause
    # passwords to be required, and specifies the type of validation
    # that will be applied.  All user+password validation occurs on
    # the tractor-engine host, so values here are relative to the
    # engine's environment, filesystem, operating system, etc.
    #
    # Tractor engine has built-in support for the "PAM" authentication
    # system provided by Linux and Mac OS.  Only the engine needs this
    # support, clients can be on any platform.  Use the string value
    # "internal:PAM" below to enable password validation through the
    # PAM modules on your engine host.
    #
    # The PAM scheme itself requires you to choose an appropriate access
    # policy module (see /etc/pam.d or /etc/pam.conf).  Tractor will
    # attempt to load a module named "tractor" by default, and you must
    # define that module first, using appropriate policies for your site.
    # Alternatively, you can specify a different PAM module name here,
    # one that may already exist and support your site's requirements.
    # For example to get the "su" authentication rules, use "internal:PAM:su"
    # below.
    #
    # **NOTE** The PAM approach requires tractor-engine to present a
    # clear-text password to the PAM interface, thus it must receive a
    # recoverable password encoding from the Dashboard and client scripts.
    # The built-in transfer encoding provides modest protection from
    # snooping, but your principal password transport protection is 
    # expected to come from the security of your site's private LAN and
    # VPN connections into it.
    #
    # Tractor also supports a more involved custom alternative solution
    # in which you provide your own client-side one way password hashing
    # plug-in (javascript or python, as appropriate), and a matching
    # engine-side hash validator that you name here.  See the comments
    # in the template examples, and the Tractor administrative docs for
    # more details.
    #

    "SitePasswordValidator": ""

    # "SitePasswordValidator": "internal:PAM:tractor"
    # "SitePasswordValidator": "internal:PAM:su"

    # "SitePasswordValidator": "python ${TractorConfigDirectory}/trSiteLoginValidator.py",
    # "SitePasswordValidator": "python ${TractorConfigDirectory}/trSiteLdapLoginValidator.py"

}

