{
    "Limits":
    {
        # The Tractor Limits system can be used to monitor and enforce
        # farm-wide restrictions on certain limited resources.  The engine
        # maintains counts associated with abstract site-chosen "tags".
        # These counts are incremented as commands are launched and
        # decremented when they exit.  Tags associated with a given
        # command are specified in the job script, and there are also
        # implicit tags for the job owner's name and the launched
        # application name.  A maximum count can be specified, meaning
        # that new commands carrying that tag should only be launched
        # when the current count is below the given threshold.  These
        # limits can be useful to avoid exceeding available license
        # counts, or to enforce other policies.
        #
        # Limit specifications are key-value pairs, as JSON dictionary items.
        # Each limit definition consists of the limit name, followed by
        # the counting policy values.  REMEMBER COMMAS BETWEEN DEFINITIONS!
        #
        # SiteMax  -- the total concurrent invocations allowed across the site.
        # OwnerMax -- concurrent invocations allowed for any one user.
        # BladeMax -- concurrent invocations allowed on any one blade
        # JobMax   -- concurrent invocations allowed from any one job.
        #
        # OwnerExceptions -- overrides for the given OwnerMax
        # BladeExceptions -- overrides for the given BladeMax
        # SiteMaxCounting -- increment / decrement policy, default is
        #                    "perInvocation", can also be "perHost"
        #
        # Use -1 to indicate that a particular counter is UNLIMITED.
        #
        # Example:
        #   "prman":    {"SiteMax": 100, "OwnerMax": -1},  <-- note comma!
        #
        #   "shaker":   {   "SiteMax": 25,
        #                   "SiteMaxCounting": "perHost",
        #                   "OwnerMax": 5,
        #                   "OwnerExceptions": {"bob": 2, "alice": 10},
        #                   "BladeMax": 2,
        #                   "BladeExceptions": {"gigantor": 8, "myphone": 0}
        #               }
        #

        "prman":        {
                         "SiteMax": 400, 
                         "SiteMaxCounting": "perHost",
                         "OwnerMax": -1,
                         "JobMax": -1,
                        } ,

	"rms":          {
                         "SiteMax": 400, 
                         "SiteMaxCounting": "perHost",
                         "OwnerMax": -1,
                         "JobMax": -1,
                        } ,

	"maya":		{
                         "SiteMax": 50, 
                         "SiteMaxCounting": "perHost",
                         "OwnerMax": -1,
                         "JobMax": -1,
                        } ,

	"nuke":	        {
                         "SiteMax": 20, 
                         "SiteMaxCounting": "perHost",
                         "OwnerMax": -1,
                         "JobMax": -1,
                        },

	"theWholeFarm":	{
                         #"SiteMax": 650, 
                         #"SiteMaxCounting": "perHost",
                         #"OwnerMax": -1,
                         #"JobMax": -1,
                         #"TaggedBlades": "Linux64", # for example, all blades in this Profile
                         "Shares": {
                             "admin":{"nominal": 0.05, "cap": 0.5},
                               #"yr4":{"nominal": 0.60, "cap": 0.85, "reserve": 0.3},
                               "yr4":{"nominal": 0.60, "cap": 0.85},
                               "yr3":{"nominal": 0.40, "cap": 0.85},
                               "yr2":{"nominal": 0.30, "cap": 0.85},
                               "yr1":{"nominal": 0.025, "cap": 0.2},
                           "default":{"nominal": 0.025, "cap": 0.1}
                        } 
             }
    }
}

