{
  "job":
  [
    {
      "comment": "Artists use this to request technical assistance for selected jobs",
      "title": "Email Matt for Help on this Job",
      "suppress": true,
      "exec": ["menu-scripts/askForHelp"],
      "values": ["jid", "owner"]
    }
  ],
  "task":
  [
    {
      "comment": "Show the render stats for this frame (prman)",
      "title": "Get Render Stats (prman)",
      "suppress": true,
      "exec": ["menu-scripts/askForRenderStats"],
      "values": ["jid", "tid"]
    },
    {
      "comment": "Click here to feel better",
      "title": "Click here to feel better",
      "suppress": true,
      "exec": ["menu-scripts/askToFeelBetter"],
      "values": ["jid",  "tid"]
    },
    {
      "comment": "Display an image for the selected task",
      "title": "Show Image",
      "exec": ["menu-scripts/showImage"],
      "values": ["jid", "tid"]
    }
  ]
}
