{
  "job":
  [
    {
      "comment": "generate and display a report on rendering statistics for specified job",
      "title": "display stats report", 
      "exec": ["menu-scripts/jobStats"],
      "crews": ["Administrators"],
      "values": ["jid"],
      "enabled": false
    },
    {
      "comment": "generate and display a report on rendering statistics for specified job",
      "title": "show image", 
      "exec": ["menu-scripts/showImage"],
      "crews": [],
      "values": ["jid"],
      "enabled": false
   }
  ],

  "task":
  [
    {
      "comment": "artists use this to request technical assistance for selected tasks",
      "title": "ask for help", 
      "exec": ["menu-scripts/askForHelp"],
      "crews": [],
      "values": ["jid", "tid"],
      "suppress": true,
      "enabled": false
    }
  ],

  "blade":
  [
    {
      "comment": "submits a job which performs a software update on specified hosts",
      "title": "update software", 
      "exec": ["menu-scripts/updateSoftware"],
      "values": ["name"],
      "crews": ["Administrators"],
      "enabled": false
    },

    {
      "comment": "submits a job which removes all files from /tmp",
      "title": "clean /tmp", 
      "exec": ["menu-scripts/cleanTmp"],
      "values": ["name"],
      "crews": ["Administrators"],
      "enabled": false
    }
  ]
}
